@font-face {
    font-family: 'Gilroy-SemiBold';
    src: URL("../fonts/Gilroy-Black.ttf")  ;
  }

  @font-face {
    font-family: 'Gilroy-Light';
    src: URL("../fonts/Gilroy-Black.ttf")  ;
  }

  @font-face {
    font-family: 'Gilroy-Bold';
    src: URL("../fonts/Gilroy-Bold.ttf")  ;
  }

  @font-face {
    font-family: 'Gilroy-Medium';
    src: URL("../fonts/Gilroy-Medium.ttf")  ;
  }
body {
    zoom: 69% ;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 24px;
    color: #433D4A;
    letter-spacing: 0.01em;
    
    background-color: #ffffff;
  }
  .nav-link {
    font-family: 'Gilroy-Bold';
    font-size: 16px;
  }
  .nav-item a:hover {
    color: #A6C643;
  }
  .user_access_interface{
    margin-top:3em; 
    background-image: url('../static/images/spiral.svg'); 
    background-repeat: no-repeat; 
    background-position: right bottom; 
    height: 117vh;
  }
  header {
    padding: 50px 250px 0px 250px;
  }

 .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  a:hover {
    color: #A6C643;
}

.learnmore{
  font-family: 'Gilroy-bold';
}

/* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  .login-btn a:hover{
    color: #04AA6D;
  }

  .login-btn {
    font-family: 'Gilroy-Bold';
    font-size: 16px;
  }

  .btn:hover {
    background-color: #A6C643;
    color:#074C43
  } 
  
  .me-auto {
    margin-right: 22em !important;
}

  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }

  .green_gradient_background{
    background: linear-gradient(104.1deg, #CDF7F1 0%, #DEFFFB 26.31%, #E2FFFB 60.87%, #DCFFFA 108.9%, #C3FFF7 132.34%);
    
  }
  .section-padding{
    padding: 70px 250px 70px 250px;
  }

  .form-page-padding{
    padding-left: 250px ;
    padding-right: 250px ;
  }

  .general-button{
      background-color: #074C43;
      color: white;
      padding: 10px 30px 10px 30px ;
      border-color: none;
  }


  .nav-item a {
    color: #074C43;
    padding-right: 50px !important;
  }

.header{
    font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 40px;
    color: #101010;
    letter-spacing: 0.01em;
    /* height: 300px !important; */
}

.subheader{
    font-family: 'Gilroy-Bold';
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    background-color: #AEFFF4;
    border-radius: 5rem; 
    color: #074C43; 
    padding: 10px;
    margin-bottom: 15px;
}

.subheader btn:hover{
  background-color: none !important;
}

  .inner li{
      list-style-image:URL(
'../static/images/bullet.svg');
      list-style-position: inside;
      padding-bottom: 20px;
  }

footer a{
    color: #074C43;
    font-family: 'Gilroy-Medium';
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-decoration: none;
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 20px;
    /* width: 50px; */
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    background-color: #F5EBFF;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    background-color: #074C43;
    color: white;
  }
  
  .fa a {
      padding-left: 5em;
  }
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook{
    padding-left: 13px !important;
    padding-right: 13px !important;
  }

.fa-eye-slash{
  background-color: #ffffff !important;
  border-radius: 0%;
  border: 1px solid #ced4da
  
}